<a href="https://colab.research.google.com/github/bappaditya-paul/Feauture-Enginnering/blob/main/Feauture_enginnering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Feature engineering is an important area in the field of machine learning and data analysis. It helps in data cleaning process where data scientists and analysts spend most of their time on. Here are few examples of feature engineering techniques,

1) Outlier detection and removal
2) One hot encoding
3) Log transform
4) Dimensionality reduction using principal component analysis (a.k.a. PCA)
5) Handling missing values
6) Scaling

In [29]:
from google.colab import files
uploaded = files.upload()

Saving bhp.csv to bhp.csv

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('AB_NYC_2019.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

Detect Outliers

In [17]:
max_threshold = df.price.quantile(0.95)
print(max_threshold)

355.0

In [18]:
min_threshold = df['price'].quantile(0.05)
print(min_threshold)

40.0

In [19]:
df[df.price> max_threshold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
61,15396,Sunny & Spacious Chelsea Apartment,60278,Petra,Manhattan,Chelsea,40.74623,-73.99530,Entire home/apt,375,180,5,2018-11-03,0.12,1,180
85,19601,perfect for a family or small group,74303,Maggie,Brooklyn,Brooklyn Heights,40.69723,-73.99268,Entire home/apt,800,1,25,2016-08-04,0.24,1,7
103,23686,2000 SF 3br 2bath West Village private townhouse,93790,Ann,Manhattan,West Village,40.73096,-74.00319,Entire home/apt,500,4,46,2019-05-18,0.55,2,243
121,27659,3 Story Town House in Park Slope,119588,Vero,Brooklyn,South Slope,40.66499,-73.97925,Entire home/apt,400,2,16,2018-12-30,0.24,2,216
158,38663,Luxury Brownstone in Boerum Hill,165789,Sarah,Brooklyn,Boerum Hill,40.68559,-73.98094,Entire home/apt,475,3,23,2018-12-31,0.27,1,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48748,36417250,US Open special 2-bed luxury condo,133288905,Cherie,Manhattan,Midtown,40.75174,-73.97343,Entire home/apt,369,4,0,NaN,NaN,3,4
48755,36419291,Wyndham Midtown 45 New York City 1 Bedroom Deluxe,273812306,Kelly,Manhattan,Midtown,40.75288,-73.97269,Private room,380,3,0,NaN,NaN,1,3
48757,36419574,Luxury & Spacious 1500 ft² MANHATTAN Townhouse,11454384,Ellen,Manhattan,Tribeca,40.71815,-74.01145,Entire home/apt,700,3,0,NaN,NaN,1,37
48833,36450896,Brand New 3-Bed Apt in the Best Location of FiDi,29741813,Yue,Manhattan,Financial District,40.70605,-74.01042,Entire home/apt,475,2,0,NaN,NaN,1,64
48839,36452721,Massage Spa. Stay overnight. Authors Artist dr...,274079964,Richard,Brooklyn,Sheepshead Bay,40.59866,-73.95661,Private room,800,1,0,NaN,NaN,1,23

In [20]:
df[df.price < min_threshold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
249,62452,A SpeciaL!! Private Room in NY,303939,Lissette,Staten Island,Tompkinsville,40.63536,-74.08537,Private room,36,2,193,2019-06-25,1.85,6,360
250,62461,B NYC Staten Alternative...,303939,Lissette,Staten Island,Tompkinsville,40.63627,-74.08543,Private room,37,2,147,2019-06-10,1.44,6,0
251,62787,C Private Room By The Ferry,303939,Lissette,Staten Island,Tompkinsville,40.63518,-74.08546,Private room,37,2,177,2019-07-02,1.71,6,320
256,63320,D Private Che@p Room 2 Explore NYC,303939,Lissette,Staten Island,Tompkinsville,40.63481,-74.08519,Private room,36,2,333,2019-07-02,3.19,6,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48851,36455649,#7 New Hotel-Like Private Room KING bed near JFK,263504959,David,Queens,Woodhaven,40.69137,-73.86591,Private room,35,1,0,NaN,NaN,8,341
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1
48867,36473044,The place you were dreaming for.(only for guys),261338177,Diana,Brooklyn,Gravesend,40.59080,-73.97116,Shared room,25,1,0,NaN,NaN,6,338
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365
48871,36475746,A LARGE ROOM - 1 MONTH MINIMUM - WASHER&DRYER,144008701,Ozzy Ciao,Manhattan,Harlem,40.82233,-73.94687,Private room,35,29,0,NaN,NaN,2,31

Remove Outliers

In [22]:
t =df[(df['price']< max_threshold) & df['price']> min_threshold]
t.head()

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [23]:
min_thresold, max_thresold = df.price.quantile([0.01,0.999])
min_thresold, max_thresold

(30.0, 3000.0)

In [24]:
df[df.price<min_thresold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,2019-05-26,0.92,1,226
2675,1428154,"Central, Peaceful Semi-Private Room",5912572,Tangier,Brooklyn,Flatbush,40.63899,-73.95177,Shared room,29,2,5,2014-10-20,0.07,1,321
2860,1620248,Large furnished 2 bedrooms- - 30 days Minimum,2196224,Sally,Manhattan,East Village,40.73051,-73.98140,Entire home/apt,10,30,0,NaN,NaN,4,137
3020,1767037,Small Cozy Room Wifi & AC near JFK,9284163,Antonio,Queens,Woodhaven,40.68968,-73.85219,Private room,29,2,386,2019-06-19,5.53,3,50
3918,2431607,"Bright, Airy Room Share for 2",4973668,Gloria,Brooklyn,Bedford-Stuyvesant,40.68642,-73.93440,Shared room,25,5,76,2019-06-06,1.22,3,258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48486,36280646,"Cable and wfi, L/G included.",272872092,Chris,Queens,Forest Hills,40.73657,-73.85088,Entire home/apt,16,9,1,2019-07-07,1.00,1,322
48647,36354776,Cozy bedroom in diverse neighborhood near JFK,273393150,Liza,Queens,Richmond Hill,40.68639,-73.81847,Private room,28,2,0,NaN,NaN,1,24
48832,36450814,FLATBUSH HANG OUT AND GO,267223765,Jarmel,Brooklyn,Flatbush,40.64922,-73.96078,Shared room,20,1,0,NaN,NaN,3,363
48867,36473044,The place you were dreaming for.(only for guys),261338177,Diana,Brooklyn,Gravesend,40.59080,-73.97116,Shared room,25,1,0,NaN,NaN,6,338
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365

In [25]:
df2 = df[(df.price>min_thresold)&(df.price<max_thresold)]
df2.shape

(48183, 16)

In [26]:
df2.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
31202,24230591,21st Floor Bedroom in Doorman & Elevator Building,24175837,Greg,Manhattan,Kips Bay,40.74512,-73.97921,Private room,81,4,6,2018-12-17,0.39,2,0
43304,33574976,"Still NYC... Grymes Hill, Staten Island",246224359,Julie Ann,Staten Island,Grymes Hill,40.61050,-74.09132,Entire home/apt,115,1,1,2019-06-30,1.00,1,339
34948,27703865,Brooklyn Private Apartment,209147067,Maria,Brooklyn,Borough Park,40.64480,-73.99524,Entire home/apt,120,2,5,2019-01-04,0.52,1,3
39218,30580115,Spacious artsy private bedroom,9572607,Nicole,Manhattan,Lower East Side,40.72176,-73.98825,Private room,150,1,8,2019-06-09,2.07,3,0
12601,9684998,Sunny 1 bedroom in Upper East Side,6115134,Masa,Manhattan,Upper East Side,40.77849,-73.95046,Entire home/apt,112,4,13,2019-03-08,0.30,1,0

In [28]:
df2.price.describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64

# Outlier detection and removal: z score, standard deviation | Feature engineering tutorial python

Exercise: Outlier removal using standard deviation and z score
You are given bhp.csv which contains property prices in the city of banglore, India. You need to examine price_per_sqft column and do following,

(1) Remove outliers using percentile technique first. Use [0.001, 0.999] for lower and upper bound percentiles

(2) After removing outliers in step 1, you get a new dataframe.

(3) On step(2) dataframe, use 4 standard deviation to remove outliers

(4) Plot histogram for new dataframe that is generated after step (3). Also plot bell curve on same histogram

(5) On step(2) dataframe, use zscore of 4 to remove outliers. This is quite similar to step (3) and you will get exact same result

In [32]:
data = pd.read_csv("bhp.csv")
data.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

In [33]:
lower, upper = data.price.quantile([0.001,0.999])

In [37]:
data[data.price<lower]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
169,Attibele,1 BHK,450.0,1.0,11.00,1,2444
928,Attibele,1 BHK,400.0,1.0,11.00,1,2750
1452,Kengeri,1 BHK,340.0,1.0,10.00,1,2941
2408,Attibele,1 BHK,395.0,1.0,10.25,1,2594
5360,Attibele,1 BHK,400.0,1.0,10.00,1,2500
7403,other,1 BHK,470.0,2.0,10.00,1,2127
8501,Chandapura,1 BHK,450.0,1.0,9.00,1,2000
8560,Doddaballapur,2 Bedroom,640.0,1.0,10.50,2,1640
10422,Yelahanka New Town,1 BHK,284.0,1.0,8.00,1,2816
10983,Attibele,1 BHK,410.0,1.0,10.00,1,2439
11832,Attibele,1 BHK,400.0,1.0,10.25,1,2562
12463,Chandapura,1 BHK,410.0,1.0,10.00,1,2439

In [38]:
data[data.price>upper]

           location        size  total_sqft  bath   price  bhk  price_per_sqft
404    Rajaji Nagar       7 BHK     12000.0   6.0  2200.0    7           18333
598    Malleshwaram       7 BHK     12000.0   7.0  2200.0    7           18333
2592          other   4 Bedroom     30000.0   4.0  2100.0    4            7000
3144          other       5 BHK      8321.0   5.0  2700.0    5           32448
4119          other   4 Bedroom      7000.0   5.0  2050.0    4           29285
6356   Bommenahalli   4 Bedroom      2940.0   3.0  2250.0    4           76530
10203         other   4 Bedroom     10624.0   4.0  2340.0    4           22025
10972         other       4 BHK      8321.0   5.0  2912.0    4           34995
11650         other   5 Bedroom      9600.0   7.0  2736.0    5           28500
12328         other   4 Bedroom      4350.0   8.0  2600.0    4           59770
12948         other  10 Bedroom      7150.0  13.0  3600.0   10           50349
13078         other   4 Bedroom      9200.0   4.0  2600.0    4           28260
13081         other   6 Bedroom      8000.0   6.0  2800.0    6           35000

In [41]:
data.price.describe()

count    13200.000000
mean       112.276178
std        149.175995
min          8.000000
25%         50.000000
50%         71.850000
75%        120.000000
max       3600.000000
Name: price, dtype: float64

remove the outliers

In [40]:
new_dataset = data[(data.price>lower) & (data.price<upper)]
new_dataset

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250
...,...,...,...,...,...,...,...
13195,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689
13196,other,4 BHK,3600.0,5.0,400.00,4,11111
13197,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258
13198,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407
13199,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090

In [43]:
new_dataset.price.describe()

count    13169.000000
mean       109.711561
std        125.440883
min         11.660000
25%         50.000000
50%         71.890000
75%        120.000000
max       1950.000000
Name: price, dtype: float64

In [47]:
# 3 standard deviation to remove outliers
upper_limits = new_dataset.price.mean()+3*new_dataset.price.std()
lower_limits = new_dataset.price.mean() - 3*new_dataset.price.std()

In [50]:
# to detect outliers
new_dataset[(new_dataset.price<lower_limits)|(new_dataset.price>upper_limits)]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
7,Rajaji Nagar,4 BHK,3300.00,4.0,600.0,4,18181
61,Whitefield,4 Bedroom,5700.00,5.0,650.0,4,11403
157,Mahalakshmi Layout,4 Bedroom,3750.00,4.0,760.0,4,20266
435,Whitefield,4 Bedroom,11890.00,4.0,700.0,4,5887
534,other,5 Bedroom,3000.00,3.0,528.0,5,17600
...,...,...,...,...,...,...,...
12967,other,5 BHK,5665.84,7.0,988.0,5,17437
12976,other,4 BHK,6652.00,6.0,660.0,4,9921
12985,other,4 BHK,2920.00,4.0,536.0,4,18356
13000,other,4 Bedroom,6688.00,6.0,700.0,4,10466
13198,Padmanabhanagar,4 BHK,4689.00,4.0,488.0,4,10407

In [51]:
# remove outliers
new_dataset2 = new_dataset[(new_dataset.price>lower_limits) & (new_dataset.price<upper_limits)]
new_dataset2

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250
...,...,...,...,...,...,...,...
13194,Green Glen Layout,3 BHK,1715.0,3.0,112.00,3,6530
13195,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689
13196,other,4 BHK,3600.0,5.0,400.00,4,11111
13197,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258
13199,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090

In [52]:
new_dataset2.price.describe()

count    12916.000000
mean        97.115790
std         76.951057
min         11.660000
25%         49.937500
50%         70.000000
75%        115.000000
max        485.000000
Name: price, dtype: float64

In [53]:
new_dataset2.shape

(12916, 7)

In [54]:
new_dataset.shape

(13169, 7)

In [56]:
data.shape

(13200, 7)

### **Outliers detection and remove using Z-score**